<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <title>Simple Chat App</title>
  </head>

  <body>
    <header><h1>Super Chat</h1></header>
  </body>
</html>
